body{
    background-color: #a0a9bb;
}
.wrapper{
    background-color: #161927;
    margin: 0 auto;
    text-align: -webkit-center;
    padding: 100px;
    border-radius: 53px;
    color: white;   
}
p{
    font-weight: 100;
    color: #a4adc0;
}